<header>
    <nav class="desktop mat-elevation-z4">
        <ul>
            <li>
                <a routerLink="/filmes" (click)="limparPesquisa()">
                    <img src="../assets/pipoca.png" width="50px">
                </a>
            </li>
            <li>
                <a routerLink="/favoritos" (click)="limparPesquisa()">
                    <button class="favoritos">
                        <img src="../assets/coracaoVazio.png" width="20px">
                        <p>Favoritos</p>
                    </button>
                </a>
            </li>
            <li>
                <a routerLink="/salvos" (click)="limparPesquisa()">
                    <button class="salvos">
                        <img src="../assets/salvar-amarelo.png" width="18px">
                        <p>Assistir depois</p>
                    </button>
                </a>
            </li>
            <li class="pesquisa">
                <form (ngSubmit)="pesquisar(nomeFilme)">
                    <input type="text" placeholder="Buscar por Filme" [(ngModel)]="nomeFilme" name="nomeFilme">
                    <button type="submit" class="botao-pesquisa">
                        <mat-icon>search</mat-icon>
                    </button>

                </form>
            </li>
            <li class="usuario">
                <p class="nome-usuario">Olá, {{usuarioName}}</p>
                <button [matMenuTriggerFor]="menu"><img [src]="usuarioPhoto" loading="eager"></button>
                <mat-menu #menu="matMenu">
                    <p class="titulo-menu">Mudar avatar</p>
                    <mat-divider></mat-divider>
                    <div class="menu">
                        <div *ngFor="let avatar of avatares, index as i" (click)="mudarAvatar(avatar)">
                            <img src="{{avatar}}" class="avatar">
                        </div>
                    </div>
                </mat-menu>
            </li>
            <li>
                <button (click)="logout()">
                    <img src="/assets/sair.png" width="25px" matTooltip="Sair" matTooltipPosition="right">
                </button>
            </li>
        </ul>

    </nav>

    <nav class="mobile mat-elevation-z4">
        <ul>
            <li>
                <a routerLink="/filmes" (click)="limparPesquisa()">
                    <img src="../assets/pipoca.png" width="35px">
                </a>
            </li>
            <li class="pesquisa-mobile">
                <form (ngSubmit)="pesquisar(nomeFilme)">
                    <input type="text" placeholder="Buscar por Filme" [(ngModel)]="nomeFilme" name="nomeFilme">
                    <button type="submit" class="botao-pesquisa">
                        <mat-icon>search</mat-icon>
                    </button>

                </form>
            </li>
            <li>
                <button class="sair" [matMenuTriggerFor]="menuPrincipal"><img src="/assets/menu-aberto.png" width="28px"></button>
            </li>
            <mat-menu #menuPrincipal="matMenu" class="menu">
                <a mat-menu-item routerLink="/favoritos">Favoritos</a>
                <a mat-menu-item routerLink="/salvos">Assistir depois</a>
                <a mat-menu-item id="logout" (click)="logout()">Sair
                    <button (click)="logout()">
                        <img src="/assets/sair.png" width="15px">
                    </button>
                </a>

            </mat-menu>
        </ul>
    </nav>
</header>


<main class="container" *ngIf="pesquisa">
    <section>
        <h3 class="titulo-pesquisa">{{listaPesquisa.results.length}} resultados encontrados para "{{nomeFilme}}"</h3>
    </section>
    <section class="lista-filmes-pesquisa">
        <div class="card-filme" *ngFor="let filme of listaPesquisa.results">
            <a [routerLink]="'/filmes/' + filme.id"><img
                    [src]="'https://image.tmdb.org/t/p/original/' + filme.poster_path" class="poster" (click)="limparPesquisa()"></a>
            <div class="conteudo-card">
                <div class="avaliacao-e-favoritar">
                    <div class="avaliacao">
                        <img src="/assets/estrela.png" class="icone-estrela">
                        <p >{{filme.vote_average | number}}</p>
                    </div>
                    <div *ngIf="filme.isFavorite == undefined"><img src="/assets/coracaoVazio.png" width="23px"
                            class="icone-coracao" (click)="favoritar(filme)"></div>
                    <div *ngIf="filme.isFavorite == true"><img src="/assets/coracaoCheio.png" width="23px"
                            class="icone-coracao"></div>
                </div>
                
                <button class="assistir-mais-tarde" (click)="salvar(filme)">
                    <div *ngIf="filme.isSave == undefined"><img src="/assets/salvar.png" width="16px">
                        Assistir depois</div>
                    <div *ngIf="filme.isSave == true"><img src="/assets/salvar-cheio.png" width="16px">
                        Assistir depois</div>
                </button>
            </div>
        </div>
    </section>
</main>
<div class="container" *ngIf="!pesquisa">
    <ng-content></ng-content>
</div>