<section *ngIf="listaFavoritos == undefined">
    <h1>Nenhum filme por aqui...</h1>
</section>
<section class="lista-filmes-pesquisa" *ngIf="listaFavoritos != undefined">
    <div class="card-filme" *ngFor="let filme of listaFavoritos">
        <a [routerLink]="'/filmes/' + filme.id"><img [src]="'https://image.tmdb.org/t/p/original/' + filme.poster_path"
                class="poster"></a>
        <div class="conteudo-card">
            <div class="avaliacao">
                <img src="../../../assets/estrela.png" width="15px" height="15px" class="icone-estrela">
                <p>{{filme.vote_average}}</p>
            </div>
            <div class="titulo-e-favoritar">
                <p class="titulo-filme">{{ filme.title }}</p>
                <button mat-icon-button (click)="deletarFilmeFavorito(filme.idBanco)" class="iconeLixeira">
                    <i class="material-icons" >delete</i> 
                </button>   
            </div>
        </div>
    </div>
</section>