<app-header>
    <ng-container>
        <section *ngIf="listaFavoritos == undefined">
            <h1>Nenhum filme por aqui...</h1>
        </section>
        <section class="lista-filmes" *ngIf="listaFavoritos != undefined">
            <section class="subtitulo-lista">
                <img src="/assets/barra.png" height="25px">
                <h2>Lista de favoritos</h2>
            </section>
            <div class="card-filme" *ngFor="let filme of listaFavoritos">
                <a [routerLink]="'/filmes/' + filme.id"><img [src]="'https://image.tmdb.org/t/p/original/' + filme.poster_path"
                        class="poster"></a>
                <div class="conteudo-card">
                    <div class="header">
                        <div class="titulo-filme">
                            <p >{{ filme.title }}</p>
                            <span>( {{filme.release_date | date: "yyyy"}} )</span>
                        </div>
                        <button mat-icon-button (click)="deletarFilmeFavorito(filme.idBanco)" class="iconeLixeira">
                            <img src="/assets/lixeira-de-reciclagem.png" width="23px">
                        </button>
                    </div>
                    <div>
                        <div class="avaliacao">
                            <img src="../../../assets/estrela.png" width="15px" height="15px" class="icone-estrela">
                            <p>{{filme.vote_average}}</p>
                        </div>
                        <div class="informacoes">
                            <p>{{filme.overview}}</p>
                             
                        </div>
                   </div>
                </div>               
            </div>
        </section>
    </ng-container>
</app-header>   
