h1{
    color: aliceblue;
    margin-top: 100px;
}

.titulo-pesquisa{
    color: white;
    margin-bottom: 20px;
    padding: 50px 100px;
}

.lista-filmes{
    display: flex;
    flex-direction: column;
    width: 100%;
    flex-wrap: wrap;
    box-sizing: border-box;
    margin: 80px 20px;
}

.card-filme{
    display: flex;
    background-color: rgb(40, 40, 40);
    border: none;
    width: 650px;
    height: 150px;
    border-radius: 5px;
    box-sizing: border-box;
    margin: 10px;
    color: aliceblue;
}

.poster{
    width: 100px;
    height: 100%;
    border-radius: 5px 0 0 5px;
}

.conteudo-card{
    height: 30%;
}

.avaliacao{
    display: flex;
    width: 90%;
    height: 20px;
    align-items: center;
    color: white;
    padding: 0 10px;
    margin-top: 5px;
    font-size: 14px;
}

.titulo-e-favoritar{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 90%;
    padding: 0 10px;
    margin: 0;
}

.titulo-filme{
    font-size: 14px;
    color: white;
}

.icone-estrela{
    margin-right: 10px;
}

.icone-coracao:hover{
    cursor: pointer;
}

.iconeLixeira{
    color: rgb(0, 0, 0)
}
