.dialog-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    line-height: 22px;
    position: absolute;
    left: 0;
    top: 20px;
    width: auto;
    height: auto;
    text-align: center;
}


.avaliacao {
    position: relative;
    top: -55px;
    height: 70px;
}

h5 {
    color: var(--yellow);
    font-size: 14px;
    font-weight: 500;
    margin-bottom: 20px;
}

h3 {
    color: aliceblue;
    font-size: 20px;
}

span{
    position: relative;
    width: 50px;
    height: 50px;
    text-align: center;
    top: -65px;
    left: 0;
}

h2 {
    color: aliceblue;
}

.estrela {
    width: 27px;
    margin-right: 5px;
    cursor: pointer;
    margin-top: 20px;
}

button {
    width: 320px;
    color: rgb(197, 197, 197);
    font-size: 13px;
    font-weight: bold;
    background-color: #25415e;
    padding: 10px 0;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 20px;
}

.btn-close{
    width: 500px;
    height: 40px;
    color: var(--yellow);
    background-color: transparent;
    font-size: 18px;
    text-align: end;
    margin: 0;
    position: static;
}

.btn-ativo {
    background-color: var(--yellow);
    color: var(--gray1);
}

.btn-ativo:hover {
    background-color: rgb(252, 209, 35);
    color: var(--gray1);
}

@media only screen and (max-device-width: 900px) {
  .dialog-container{
    width: 300px;
    padding: 15px;
  }

  .btn-close{
    width: 310px;
  }

  .estrela{
    width: 20px;
    margin-top: 5px;
  }

  button{
    width: 90%;
  }

  .icone-estrela-grande{
    width: 95px;
  }


  h3{
    font-size: 18px;
  }

  h5{
    font-size: 14px;
    margin-bottom: 5px;
  }
}
