<div id="login-container">
    <div class="login-form">
        <img src="../../../assets/icons/conecte-se.png" class="img-usuario">
        <h1>Login</h1>
        <button  class="btn-google">
            <img src="../../../assets/icons/icons8-google-logo.svg" width="20px">
            <p class="titulo-google">Fazer login com o Google</p>
        </button>
        <form >
            <input type="email" placeholder="E-mail" formControlName="email">
            <input type="password" placeholder="Senha" formControlName="senha">
            <button class="btn" >Entrar</button>
        </form>
        <span>Ainda não é cadastrado? <a routerLink="/cadastrar">Cadastre-se</a></span>
    </div>
</div>
