.background{
    background-color: rgba(0, 0, 0, 0.462);
    background-repeat:no-repeat;
    position: fixed;
    left: 0;
    right: 0;
    z-index: 1;
    display: block;
    height: 100%;
    width: 100%;
}

.login-container{
    background-image: url(../../../assets/img/movie-poster-people-1698949-wallhere.com.jpg);
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    
}

.login-form{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 370px;
    height: 470px;
    background: rgb(23, 41, 60);
    background: radial-gradient(circle, rgb(24, 43, 61) 19%, rrgb(29, 51, 73)53%, rgb(29, 50, 71) 83%);
    margin-top: 230px;
    margin-bottom: 230px;
    z-index: 9999;
    border-radius: 8px;
    box-sizing: border-box;
}

h1{
    color: rgb(233, 179, 41);
    margin-bottom: 10px;
}

form{
    width: 70%;
    height: auto;
    padding: 20px;
    display: flex;
    flex-direction: column;
}

input{
    border-radius: 5px;
    border: 1px solid rgb(164, 159, 145);
    background-color: transparent;
    height: 30px;
    color: rgb(218, 224, 230);
    padding: 5px;
    margin-bottom: 20px;
}

.btn{
    background-color: rgb(233, 179, 41);
    border: none;
    height: 42px;
    padding: 5px;
    border-radius: 5px;
    margin-bottom: 20px;
    text-transform: uppercase;
    font-weight: bold;
    cursor: pointer;
}

.btn-google{
    display: flex;
    padding: 5px;
    height: 42px;
    border-radius: 5px;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    cursor: pointer;
}

.btn-google img{
    margin-right: 15px;
}

.cadastre-se{
    display: flex;
    justify-content: space-between;
    width: 70%;
    font-size: 14px;
}

.cadastre-se a {
    text-decoration: none;
    color: rgb(233, 179, 41);
    cursor: pointer;
}

.cadastre-se span {
    color: rgb(224, 223, 223);
}

@media only screen and (max-device-width: 900px) {
    .login-form{
        width: 90%;
        
    }

    .btn-google{
        display: none;
    }
}