<div class="background"></div>
<div class="login-container">
    <div class="login-form">
        <h1>Entrar</h1>
        <img src="../../../assets/pipoca.png" width="50px">
        <form [formGroup]="formLogin">
            <input type="email" placeholder="E-mail" formControlName="email">
            <input type="password" placeholder="Senha" formControlName="senha">
            <button class="btn" (click)="entrar()">Entrar</button>
            
        </form>

        <div class="cadastre-se">
            <span>Ainda não é cadastrado? </span>
            <a routerLink="/cadastro">Cadastre-se</a>
        </div>
    </div>
</div>
