<header>
  <nav>
    <ul>
      <a [routerLink]="'filmes/'" (click)="limparPesquisa()">
        <img src="../assets/pipoca.png" width="50px"> 
      </a>
      <li>
        <form (ngSubmit)="pesquisar(nomeFilme)">
          <input type="text" placeholder="Buscar por Filme" [(ngModel)]="nomeFilme" name="nomeFilme">
              <button type="submit" class="botao-pesquisa">
                  <mat-icon>search</mat-icon>
                </button> 
                   
        </form>       
      </li>
      <li>
        <a [routerLink]="'/favoritos'">
          <button class="favoritos">
            <img src="../assets/coracaoVazio.png" width="20px">
            <p>Lista de Favoritos</p> 
          </button>
        </a>
        
      </li>
    </ul>
    
  </nav>
</header>

<main class="container" *ngIf="pesquisa">
  <section>
    <h2 class="titulo-pesquisa">Pesquisar "{{nomeFilme}}"</h2>
  </section>
  <section class="lista-filmes-pesquisa">
    <div class="card-filme" *ngFor="let filme of listaPesquisa.results">
      <a [routerLink]="'/filmes/' + filme.id"><img [src]="'https://image.tmdb.org/t/p/original/' + filme.poster_path" class="poster" (click)="limparPesquisa()"></a>
      <div class="conteudo-card">
        <div class="avaliacao">
          <img src="../../../assets/estrela.png" width="15px" height="15px" class="icone-estrela">
          <p>{{filme.vote_average}}</p>
        </div>
        <div class="titulo-e-favoritar">
          <p class="titulo-filme">{{ filme.title }}</p>
        </div>
      </div>
  </div>
  </section> 
</main>

<main class="container" *ngIf="pesquisa == false">
    <router-outlet></router-outlet><!--É responsável por ler a URL que o usuário está acessando e alternar o componente dependendo da URL que ele acessa-->
    <!--A partir do componente principal (app component), tudo na tela será rendeizado, incluindo as rotas que foram declaradas-->
</main>


  
  
