<div class="background"></div>
<div class="login-container">
    <div class="login-form">
        <h1>Entrar</h1>
        <img src="../../../assets/pipoca.png" width="50px">
        <form [formGroup]="formLogin">
            <input type="text" placeholder="UserName" formControlName="displayName">
            <input type="email" placeholder="E-mail" formControlName="email">
            <input type="password" placeholder="Senha" formControlName="senha">
            <button class="btn" (click)="cadastrar()">Cadastrar</button>
        </form>
              
        <div class="cadastre-se">
            <span><a routerLink="/login">Voltar para Login</a></span>
        </div>
    </div>
</div>

