.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    margin-top: 110px;
}

h1{
    color: aliceblue;
    margin-top: 20px;
    text-align: center;
    font-size: 18px;
    width: 100%;
}

.subtitulo-lista{
    display: flex;
    align-items: center;
    margin-top: 30px;
    color: aliceblue;
    margin-bottom: 30px;
}

.header-section{
    margin-bottom: 20px;
    width: 58%;
}

.btn-acoes{
    background-color: var(--black);
    color: var(--blue);
    cursor: pointer;
    border: none;
}

.btn-acoes:hover{
    color: rgb(8, 88, 209);
}

.titulo-pesquisa{
    color: white;
    margin-bottom: 20px;
    padding: 50px 100px;
}

.lista-filmes {
    display: flex;
    flex-direction: column;
    width: auto;
    flex-wrap: wrap;
    box-sizing: border-box;
}

.card-filme{
    display: flex;
    background-color: var(--gray2);
    border: none;
    width: 880px;
    height: 170px;
    border-radius: 5px;
    box-sizing: border-box;
    margin-bottom: 20px;
    color: aliceblue;
}

.poster{
    width: 120px;
    height: 100%;
    border-radius: 5px 0 0 5px;
    margin-right: 30px;
}

.conteudo-card{
    height: 100%;
}


.header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 50px;
    margin: 0;
}

.header span{
    font-size: 15px;
}

.botoes{
    display: flex;
    align-items: flex-start;
}

.btn-assistido{
    background-color: var(--gray2);
    border: none;
    border-radius: 5px;
    color: aliceblue;
    font-size: 10px;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 5px;
    margin: 10px 5px;
}

.btn-assistido:hover{
    background-color: var(--gray1);
}

.btn-lixeira{
    background-color: var(--gray2);
    border: none;
    border-radius: 5px;
    color: aliceblue;
    font-size: 10px;
    cursor: pointer;
    padding: 5px;
    margin: 10px 5px;
}

.btn-lixeira:hover{
    background-color: var(--gray1);
}

.titulo-filme{
    display: flex;
}

.titulo-filme p{
    font-size: 15px;
    color: rgb(225, 233, 240);
    font-weight: bold;
    margin-right: 10px;
}

.avaliacao{
    display: flex;
    width: 9%;
    height: 20px;
    align-items: center;
    color: white;
    font-size: 14px;
    margin-bottom: 10px;
}

.informacoes p{
    font-size: 13px;
    padding: 0 20px 20px 0;
    width: 98%;
    height: 80px;
    overflow: hidden !important;
    text-overflow: ellipsis;
    box-sizing: border-box;
}


.icone-estrela{
    margin-right: 10px;
}

.icone-estrela-azul{
    cursor: pointer;
    display: flex;
    justify-content: center;
    background-color: var(--gray2);
    border: none;
    border-radius: 4px;
    padding: 5px;
    width: auto;
    margin-left: 20px;
}

.icone-estrela-azul p{
    color: rgb(215, 215, 215);
    font-size: 14px;
    margin: 0 0 0 5px;
}

.icone-estrela-azul:hover{
    background-color: var(--gray1);
}

.icone-coracao{
    margin-right: 10px;
}

.icone-coracao:hover{
    cursor: pointer;
}

mat-paginator{
    background-color: var(--black);
    border: 1px solid var(--gray1);
    border-radius: 5px;
    color: aliceblue;
    width: 880px;
    margin-top: 20px;
}

::ng-deep #mat-select-value-1{
    color: aliceblue;
}
