<app-header>
    <ng-container>
        <main class="container">
            <h1 class="titulo-lista">O que assistir</h1>
            <p class="sub">Está em busca de um novo filme para assistir? Encontre nas listas abaixo:</p>
            <section class="subtitulo-lista">
                <img src="/assets/barra.png" height="25px">
                <h2>Melhores Avaliados</h2>
            </section>
            <section class="cards">
                <button class="seta" (click)="voltar()"><img src="/assets/seta-esquerda.png" width="35px" ></button>
                <div class="card-filme" *ngFor="let filme of listaTopFilmes.results | slice: inicio:final">
                    <a [routerLink]="'/filmes/' + filme.id"><img [src]="'https://image.tmdb.org/t/p/original/' + filme.poster_path" class="poster"></a>
                    <div class="conteudo-card">
                        <div class="avaliacao-e-favoritar">
                            <div class="avaliacao">
                                <img src="/assets/estrela.png"class="icone-estrela">
                                <p>{{ filme.vote_average }}</p>                                          
                            </div>
                            <div *ngIf="filme.isFavorite == undefined"><img src="/assets/coracaoVazio.png" width="23px" class="icone-coracao" (click)="favoritar(filme)"></div>
                            <div *ngIf="filme.isFavorite == true"><img src="/assets/coracaoCheio.png" width="23px" class="icone-coracao"></div>
                        </div>           
                        <p class="titulo-filme">{{ filme.title }}</p>              
                        <button class="assistir-mais-tarde"><img src="/assets/salvar.png" width="16px"> Assistir depois</button>
                    </div>
                </div>
                <button class="seta" (click)="avancar()"><img src="/assets/seta-direita.png" width="35px"></button>
            </section>
            <section class="subtitulo-lista">
                <img src="../../../assets/barra.png" height="25px">
                <h2>Os Mais Populares</h2>
            </section>
        
            <!--LISTA POPULARES-->
            <section class="cards">
                <button class="seta" (click)="voltar2()"><img src="/assets/seta-esquerda.png" width="35px"></button>
                <div class="card-filme" *ngFor="let filme of listaPopulares.results | slice: inicio2:final2">
                    <a [routerLink]="'/filmes/' + filme.id"><img [src]="'https://image.tmdb.org/t/p/original/' + filme.poster_path" class="poster"></a>
                    <div class="conteudo-card">
                        <div class="avaliacao-e-favoritar">
                            <div class="avaliacao">
                                <img src="/assets/estrela.png"class="icone-estrela">
                                <p>{{filme.vote_average}}</p>                                          
                            </div>
                            <img src="/assets/coracaoVazio.png" width="23px" class="icone-coracao" (click)="favoritar(filme)">
                        </div>           
                        <p class="titulo-filme">{{ filme.title }}</p>              
                        <button class="assistir-mais-tarde"><img src="/assets/salvar.png" width="16px"> Assistir depois</button>
                    </div>
                </div>
                <button class="seta" (click)="avancar2()"><img src="/assets/seta-direita.png" width="35px" ></button>
            </section>
        
        </main>
    </ng-container>
</app-header>
