/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { 
    margin: 0; 
    font-family: Roboto, "Helvetica Neue", sans-serif;
    background-color: rgb(12, 12, 12);
    width: 100vw;
    height: 100vh;
    
    

}

