@import './variaveis.css';
@import url('https://fonts.googleapis.com/css2?family=Lilita+One&family=Open+Sans:wght@300;500;600;700;800&display=swap');

* {
    margin: 0;
}

html,
body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
    background: rgb(23, 41, 60);
    background: radial-gradient(circle, rgb(24, 43, 61) 19%, rrgb(29, 51, 73)53%, rgb(29, 50, 71) 83%);
    width: 100vw;
    height: (100vh - 70px);
    display: flex;
}

.mat-dialog-container {
    background: rgb(23, 41, 60);
    background: radial-gradient(circle, rgb(24, 43, 61) 19%, rrgb(29, 51, 73)53%, rgb(29, 50, 71) 83%);
}

.mat-simple-snackbar-action {
    color: var(--yellow) !important;
}

.warning{
    background-color: var(--blue3);
}

.mat-select-value{
    color: aliceblue;
}

.mat-menu-panel{
    background-color: var(--blue2);
}

.mat-tooltip{
    background-color: var(--blue3);
}